#woo-discount-managment-section {

	margin-right: 10px;

	#woo-discount-managment-form {
		display: inline-grid;
	}

	.woo-discount {

		&-line {
			display: inline-grid;

			label {
				margin: 15px 0 5px;
			}

			&-submit {
				margin-top: 20px;
			}
		}
	}


	input[type="submit"] {
		cursor: pointer;
		padding: 2px 30px;
	}

}